

###############################################################################
# sequence of traits 
# have to be compatible with sequences of model and treated_as_missing
###############################################################################
@traits = ( 'ltz', 'usf', 'imf', 'fuvz', 'ffl', 'usmd', 'rmfl', 'ptz', 'ph1k');



#************************ PEST ************************************************
#
# model for pest to create a datafile for vce
# the model is for all traits equal
# modelspecifications are set in vce model file
###############################################################################

$pest_model='lmf pelm skmw sex bjq bg abt uss wu animal',

@treated=(
  "ltz    NONE 0. NONE",
  "usf    NONE 0. NONE",
  "imf    NONE 0. NONE",
  "fuvz     NONE 0. NONE",
  "ffl    NONE 0. NONE",
  "usmd    NONE 0. NONE",
  "rmfl   NONE 0. NONE",
  "ptz    NONE 0. NONE",
  "ph1k    NONE 0. NONE",
);

#************************ VCE ************************************************
#
# models for vce
###############################################################################

@vce_model=(
  'ltz  =          sex bjq bg wu animal;',
  'usf  = p1(lmf)  sex bjq bg uss animal;',
  'imf  = p1(skmw) sex abt bg animal;',
  'fuvz = p1(pelm) sex abt bg animal;',
  'ffl  = p1(skmw) sex abt bg animal;',
  'usmd = p1(lmf)  sex bg bjq uss animal;',
  'rmfl = p1(skmw) sex abt bg  animal;',
  'ptz  = p1(pelm) sex abt bg wu animal;',
  'ph1k =      sex sh  bg animal;',
);

#************************ CreateParmaterMatrices  *****************************
#
# 1-trait-model => '1m'    
# 2-trait-model => '2m'
# $config->[] = [ '',   '', '', '', '', '', '' ];
###############################################################################
$mm='2m';

$config->[0] = [ 'animal',   'RATIOS', '3', 'p', 'b', '', 't' ];


