

###############################################################################
# sequence of traits 
# have to be compatible with sequences of model and treated_as_missing
# same sequence like VCEmanage
###############################################################################
@traits = ( 'ltz', 'usf', 'imf', 'fuvz', 'ffl', 'usmd', 'rmfl', 'ptz');



#************************ PEST ************************************************
#
# model for pest to create a datafile for vce
# the model is for all traits equal
# modelspecifications are set in vce model file
###############################################################################

$pest_model='lmf pelm skmw sex bjq bg abt uss wu animal',

@treated=(
  "ltz    NONE 0. NONE",
  "usf    NONE 0. NONE",
  "imf    NONE 0. NONE",
  "fuvz     NONE 0. NONE",
  "ffl    NONE 0. NONE",
  "usmd    NONE 0. NONE",
  "rmfl   NONE 0. NONE",
  "ptz    NONE 0. NONE",
);

#************************ VCE ************************************************
#
# models for vce
# same sequence like @traits
###############################################################################

@vce_model=(
  'ltz  =          sex bjq bg wu animal;',
  'usf  = p1(lmf)  sex bjq bg uss animal;',
  'imf  = p1(skmw) sex abt bg animal;',
  'fuvz = p1(pelm) sex abt bg animal;',
  'ffl  = p1(skmw) sex abt bg animal;',
  'usmd = p1(lmf)  sex bg bjq uss animal;',
  'rmfl = p1(skmw) sex abt bg  animal;',
  'ptz  = p1(pelm) sex abt bg wu animal;'
);

#************************ CreateParmaterMatrices  *****************************
#
# 1-trait-model => '1m'    
# 2-trait-model => '2m'
# Each matrix need an entry in $config->[$i]. The columns has the following meaning:
#
# - Column 1: Name of the random/residual effect (Column 3 in table Estimates)
# - Colunn 2: Kind of matrices (Column 2 in table Estimates)
# - Column 3: Counts of decimals
# - Column 4: Kind of matrices
#    - t = triangle
#    - f = full
#    - p = with phenotypic values
# - Column 5: Position of errors
#    - r = right (+- $value)
#    - b = bottom (new row)
# - Column 6: Average of Variances or Heritabilities
#    - a = average
#    - '' or other = nothing
# - Column 7: Character for distance
#    - t = tabulator
#    - '' or other = blank
#
# $config->[] = [ 'effectname', 'matrix', 'decimals', 't|f|p', 'r|b', 'a', 't| ' ];
###############################################################################
$mm='2m';
$dottocomma=1;

$config->[0] = [ 'animal',  'RATIOS', '2', 't', 'r', '', 't' ];
$config->[1] = [ 'residual', 'RATIOS', '5', 'f', '', '', ' ' ];
$config->[2] = [ 'residual', 'NATURAL', '5', 'f', '', '', ' ' ];
$config->[3] = [ 'wu', 'NATURAL', '5', 'f', '', '', ' ' ];
$config->[4] = [ 'animal', 'NATURAL', '5', 'f', '', '', ' ' ];


