  
  <tmpl_var name=div>
   <form name="no_access" id="no+access" action="<TMPL_VAR NAME=form_action>" method="post">
    <table cellpadding="6" cellspacing="1" border="0" >
     <tr>
      <td><TMPL_VAR NAME="ERROR"> (<TMPL_VAR NAME="LOGOUT">)</td>
     </tr> 
     <tr><td><input type="hidden" name="sid" value=<tmpl_var name=session_id>></td></tr>
    </table>
   </form>
          


